<!DOCTYPE html>
<html><head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <header><h2>Quiz: el jueo de las preguntas </h2></header>

  <nav>
  	<a href="/">Inicio</a>
  	<a href="/question">Preguntas</a>
  </nav>

  <section>
  	<div><%- body %></div>
  </section>

  <footer>
  	<a href="www.google.es"> Que es un quiz </a>
  </footer>
  
  </body>

</html>
