<!DOCTYPE html>
<html><head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>


  <body>

  <nav>
  	<a href="/">Inicio</a>
  	<a href="/question">Preguntas</a>
  </nav>

  <section>
  	<%= body %>
  </section>

  <footer>
  	<a href="www.google.es"> Que es un quiz </a>
  </footer>
  
  </body>

</html>
