
<form method="get" action="/check">
<p>Pregunta: <%= question %> </p>
<input type="text" name="answer" value="<%= answer%>" placeholder="Responda aqui"></input>
<input type="submit" value="Comprobar"> </input>
   		